$main-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Roboto Slab', serif;

$grey: #a1a0a0;
$dark-grey: #393939;
$light-gray: #b8b8b8;
$dark-blue: #181f2f;
$orange: #feca16;

$link-color: $grey; 
$hover-link-color: $dark-blue; 
$link-font-size: 14px;

$conteiner-width: 1170px;


